{% extends "layout.html" %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='script2.js') }}?v={{ timestamp }}"></script>

<section class="about-header" id="articles-header">
  <h1 class="about-h1">曜弘報報</h1>
</section>

<section class="about-body article-detail" data-aos="fade-in" data-aos-delay="50" data-aos-duration="700"
  data-aos-easing="ease-in-out">
  <div class="article-detail-title">
    <h2>胃食道逆流，正確的就醫才能有效對症下藥解決問題</h2>
  </div>
</section>
<section class="article-detail-body" data-aos="fade-in" data-aos-delay="50" data-aos-duration="700"
  data-aos-easing="ease-in-out">
  <div class="row">
    <div class="col-12 col-lg-4 d-flex justify-content-center align-items-start">
      <img src="{{ url_for('static', filename='articlephoto/article-02-gastroesophageal-reflux.png') }}" alt="胃食道逆流" />
    </div>
    <div class="col-12 col-lg-8 article-detail-content">
      <p>
        愛喝咖啡、吃甜食跟辛辣🌶️刺激飲食的你 是不是常常突然就有種火燒心的痛
        真的很不舒服😮‍💨😮‍💨😮‍💨
      </p>
      <p>現在馬上教你幾招快速當下緊急緩解不舒適:</p>
      <p>
      <ul>
        <li>
          挺直上半身降低賁門壓力（胃跟食道的接合處）
        </li>
        <li>
          服用制酸劑類型的胃藥、胃乳
        </li>
        <li>
          鬆開皮帶或脫掉緊身的衣物
        </li>
        <li>
          深呼吸調整情緒跟身體壓力
        </li>
      </ul>
      </p>
      <p>胃食道逆流其實就是胃酸逆流這件事情。
        在胃裡的內容物往上逆流至食道、甚至咽喉（呼吸道），並導致火燒心、咳嗽、打嗝等不適的症狀。</p>
      <p>國人有超過30%的盛行率
        尤其現在的飲食習慣、作息混亂等原因，胃食道逆流的狀況屢見不鮮。</p>
      <p>發生胃食道逆流時建議吃：
      <ul>
        <li>低纖蔬菜、低糖水果</li>
        <li>雞蛋或低脂蛋白質，如魚肉、雞胸肉</li>
        <li>少鹽、少油、低脂、低纖之清淡料理</li>
      </ul>
      </p>
      <p><strong>不建議吃：</strong>
      <ul>
        <li>❌ 辛辣調味</li>
        <li>❌ 高油脂食物，尤其是炸類（請跟🐔排說掰掰）</li>
        <li>❌ 酸性以及高纖維的水果</li>
        <li>❌ 糯米以及相關製品</li>
        <li>❌ 加工食品，香腸、臘肉、火腿</li>
      </ul>
      </p>
      <p><strong>不建議喝：</strong>
      <ul>
        <li>❌ 酒精飲料（當然也別抽煙了）</li>
        <li>❌ 茶、咖啡</li>
        <li>❌ 碳酸汽水、氣泡水</li>
        <li>❌ 油脂太高的飲料（那拿鐵當然不要喝啦‼️）</li>
      </ul>
      </p>
      <p>
        不管是偶發性或經常性發生 <strong>胃食道逆流</strong>，不要只靠成藥進行緩解，
        一定要到專門的醫療單位做詳細檢查，找出問題對症下藥。
      </p>
      <p>
        <strong>⚠️ 要知道：</strong>胃食道逆流嚴重者除了火燒心、咳嗽等相關症狀，
        嚴重的狀況甚至會灼燒聲帶、周圍組織惡性病變、併發胸悶、胸痛等症狀。
      </p>
    </div>
  </div>
</section>

<!-- SEO Meta Tags -->
<meta name="keywords"
  content="胃食道逆流, 正確的就醫才能有效對症下藥解決問題, 胃鏡推薦, 舒眠胃鏡推薦, 田名弘, 李儀鳴, 三重, 肝膽腸胃科推薦, 腸道內視鏡推薦, 新北胃鏡推薦, 照胃鏡 消化系專科, 內視鏡專科, 內視鏡技術師資格">
<meta name="description"
  content="預防與緩解胃食道逆流不適症狀，了解飲食與生活調整技巧！曜弘診所位於新北市三重，專注於肝膽腸胃科與內視鏡檢查，提供專業舒眠胃鏡服務，確保受檢安全與診斷準確，提升生活品質。立即了解詳情！☎️ 02-29840101">
<title>胃食道逆流，正確的就醫才能有效對症下藥解決問題</title>

{% endblock %}