{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename='script2.js') }}?v={{ timestamp }}"
></script>

<section class="about-header" id="articles-header">
  <h1 class="about-h1">曜弘報報</h1>
</section>

<section
  class="about-body article-detail"
  data-aos="fade-in"
  data-aos-delay="50"
  data-aos-duration="700"
  data-aos-easing="ease-in-out"
>
  <div class="article-detail-title">
    <h2>【流感疫苗施打注意⚠️】</h2>
  </div>
</section>
<section
  class="article-detail-body"
  data-aos="fade-in"
  data-aos-delay="50"
  data-aos-duration="700"
  data-aos-easing="ease-in-out"
>
  <div class="row">
    <div
      class="col-12 col-lg-4 d-flex justify-content-center align-items-start"
    >
      <img
        src="{{ url_for('static', filename='articlephoto/article-18-government-funded-influenza-vaccine-2025.jpg') }}"
        alt="流感疫苗施打注意"
      />
    </div>
    <div class="col-12 col-lg-8 article-detail-content">
      <p>
        曜弘診所114.09.23起提供『德國GSK自費疫苗』，自費價格為900元。
      </p>
      <p>
        ⚠️ <a href="https://pse.is/7ndkze" target="_blank">線上掛號請點此</a>
      </p>
      <br>
      <p>
        公費疫苗將於114.10.01開始，公費疫苗的施打品牌將依衛生局配發為主，無法進行指定🙏
      </p>
      <p>
        近期為流感高峰期，還請各位務必注意身體狀況，出入人潮較多或較為密閉之空間，一定要將口罩戴上，避免感染感冒或其他相關病症。
      </p>
      
      <br>
      <p>🏥 <strong>曜弘診所｜您的健康守門員</strong></p>
      <p>引進 百萬級富士 ARIETTA 850 高階超音波儀，</p>
      <p>讓診斷更精準、檢查更安心！</p>
      <p>🎥 看更多臨床影片👇</p>
      <ul>
        <li>超音波臨床影片：<a href="https://youtu.be/CLOC3sbNNvU" target="_blank">https://youtu.be/CLOC3sbNNvU</a></li>
        <li>胃腸內視鏡介紹：<a href="https://youtu.be/fFAeoz9oOc0" target="_blank">https://youtu.be/fFAeoz9oOc0</a></li>
      </ul>
      <br>
      <p>🙏 身體健康與生命不失盼望都很重要，曜弘與您同在。</p>
    </div>
  </div>
</section>

<!-- SEO Meta Tags -->
<meta
  name="keywords"
  content="流感疫苗, 流感疫苗get, 流感, 曜弘診所, 內視鏡檢查, 消化道專科, FUJIFILM8000, AI輔助診療, 三重醫療照護, 新北胃腸檢查, 誠摯守護健康, 三重, 胃腸鏡, 胃腸鏡檢查, 德國GSK, 自費疫苗, 公費疫苗"
/>
<meta
  name="description"
  content="曜弘診所114.09.23起提供『德國GSK自費疫苗』，公費疫苗將於114.10.01開始。近期為流感高峰期，請各位務必注意身體狀況。"
/>
<title>流感疫苗施打注意⚠️</title>

{% endblock %}
