{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename='script2.js') }}"
></script>

<section class="about-header" id="articles-header">
  <h1 class="about-h1">曜弘報報</h1>
</section>

<section
  class="about-body article-detail"
  data-aos="fade-in"
  data-aos-delay="50"
  data-aos-duration="700"
  data-aos-easing="ease-in-out"
>
  <div class="article-detail-title">
    <h2>⚠️預防B型與C型肝炎的全民運動🏋️‍♀️</h2>
  </div>
</section>
<section
  class="article-detail-body"
  data-aos="fade-in"
  data-aos-delay="50"
  data-aos-duration="700"
  data-aos-easing="ease-in-out"
>
  <div class="row">
    <div
      class="col-12 col-lg-4 d-flex justify-content-center align-items-start"
    >
      <img
        src="{{ url_for('static', filename='articlephoto/article-08-hepatitis-B&C.jpg') }}"
        alt="預防B型與C型肝炎的全民運動"
      />
    </div>
    <div class="col-12 col-lg-8 article-detail-content">
      <p>目前全國慢性肝病、肝硬化及肝癌的肇因主要為B型肝炎及C型肝炎。</p>
      <p>
        據統計死於【
        <strong>肝癌</strong>
        】的病患中，約有七成的人為B型肝炎帶原者，而兩成為慢性C型肝炎感染者。
      </p>
      <p>『肝臟』：我們的無聲生命指揮官。</p>
      <p>它負責解毒、代謝營養，還能儲存能量和維生素～</p>
      <p>
        透過這些簡單易行的預防措施，我們可以一起守護身邊的愛人，以下是生活上簡單又有效的預防小步驟：
      </p>
      <ol>
        <li>
          <strong>接種B型肝炎疫苗，保護自己免受感染</strong><br />
          B肝是一種病毒：主要透過血液、性關係或母嬰生產垂直傳播。最有效的預防方法是接種
          <strong>B型肝炎疫苗</strong>。
        </li>
        <li>
          <strong>避免共用針具或其他個人用品🚫</strong><br />
          <strong>C型肝炎</strong
          >主要透過血液傳播，尤其是共用針筒針具💉、剃刀刮鬍刀🪒、牙刷🪥等有可能接觸到血液的物品。
        </li>
        <li>
          <strong>要有安全的親密行為</strong><br />
          B型肝炎和C型肝炎都可以通過性關係傳播。為了預防感染，安全的性行為有很多方法，其中可以使用<strong>保險套</strong>來減少暴露風險。<br />
          （定期檢查也是很重要的‼️‼️）
        </li>
        <li>
          <strong>注意血液安全，避免接觸他人血液</strong><br />
          任何可能接觸他人血液的情況，都應提高警覺，例如打耳洞、紋身、醫療手術等，必須確保所有器材是一次性使用的，並且環境衛生符合標準。
        </li>
        <li>
          <strong>定期篩檢，及早發現</strong><br />
          如果你是以下高風險群體：<br />
          ▪️長期與感染者接觸（醫療院所工作者）<br />
          ▪️有多個性伴侶<br />
          ▪️曾經使用過不潔針具的人<br />
          應該定期進行B型和C型肝炎篩檢。早期發現並治療，能有效防止病情惡化。
        </li>
        <li>
          <strong>保持健康的生活習慣</strong><br />
          健康的飲食和生活習慣對肝臟有很大的保護作用。<br />
          避免長期飲酒，飲食上選擇低脂高纖的食物，固定運動減少肝臟負擔。
        </li>
        <li>
          <strong>注意肝炎的早期症狀</strong><br />
          肝炎的早期症狀可能不明顯，但若有食慾不振、持續疲勞、黃疸（皮膚或眼睛發黃）等情況，請儘早就醫。
        </li>
      </ol>
      <p>全民運動開跑🏃🏃‍♀️</p>
      <p>
        國民健康署提供成人預防保健中B、C型肝炎篩檢年齡為45至79歲終身一次。<br />
        定期肝臟超音波檢查十分重要，讓我們醫學中心等級超音波儀器為您把關！
      </p>
      <p>
        記得，肝臟健康從日常做起，讓我們一起從生活小細節開始，守護這個無聲的生命工廠～<br />
        曜弘診所腹部超音波頂尖旗艦機型，敬(近)請期待～
      </p>
    </div>
  </div>
</section>

<!-- SEO Meta Tags -->
<meta
  name="keywords"
  content="肝癌, B型肝炎, C型肝炎, 保險套, 胃鏡推薦, 舒眠胃鏡推薦, 田名弘, 李儀鳴, 三重, 胃鏡推薦, 舒眠胃鏡推薦, 三重, 新莊, 蘆洲, 板橋, 疫苗, B肝, C肝, 肝硬化, 脂肪肝, 超音波, 肝臟超音波, 腹部超音波, 肝纖維化, 肝纖維測量, 高階超音波"
/>
<meta
  name="description"
  content="關注便便顏色變化，識別健康隱患！鮮紅、暗紅、膿血色或極深色便便可能預示腸胃疾病。定期檢查，守護身體健康，避免大腸癌等重大病變。洽詢 02-29840101！"
/>
<title>預防B型與C型肝炎的全民運動</title>

{% endblock %}
