{% extends "layout.html" %} {% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='script2.js') }}?v={{ timestamp }}"></script>

<section>
  <div class="appointment-header mb-3">
    <h1 class="appointment-h1">門診預約</h1>
  </div>
  <div class="appointment-body">
    <p class="appointment-p">
      <span class="appointment-p-title">網路預約開放中｜看診提醒</span>
      <br />
      榮幸歡迎林志杰醫師/週六早診8月登場/全新診別啟動名額有限，敬請把握時段。
      電話掛號/現場掛號同步進行，歡迎來電洽詢或提前到診。
      <br />
      點擊查看醫師介紹和門診時間表：
    <div class="row mb-3">
      <div class="col-12 col-md-4 mb-2 mb-md-0">
        <a href="/#doctors-1" style="text-decoration: none; font-size: 1.25rem; font-weight: bold;">田名弘 院長</a>
      </div>
      <div class="col-12 col-md-4 mb-2 mb-md-0">
        <a href="/#doctors-2" style="text-decoration: none; font-size: 1.25rem; font-weight: bold;">李儀鳴 醫師</a>
      </div>
      <div class="col-12 col-md-4">
        <a href="/#doctors-3" style="text-decoration: none; font-size: 1.25rem; font-weight: bold;">林志杰 醫師</a>
      </div>
    </div>
    </p>
    <hr />
    <p class="appointment-p">
      <span class="appointment-p-title">掛號與報到提醒</span>
      <br />
      當日若額滿將提前截止掛號，實際時間依現場狀況浮動。
      <br />
      建議您及早到診或致電掛號 / 報到，以確保順利就診。
    </p>
    <hr />
    <p class="appointment-p">
      <span class="appointment-p-title">洽詢電話與時間</span>
      <br />
      電話｜02-2984-0101
      <br />
      服務時間｜<br />
      週一至週五<br />
      09:30 ~ 13:00<br />
      14:30 ~ 17:00<br />
      18:00 ~ 21:00
    </p>
    <p class="appointment-p text-center">
      <span class="appointment-p-title">感謝您的信任與配合</span>
    </p>
    <hr />
  </div>
</section>
<section>
  <div class="appointment-wrapper">
    <div class="mb-3">
      <h1 class="appointment-h1 text-center">預約方式</h1>
    </div>
    <div class="container appointment-card-box">
      <div class="row">
        <div class="col-12 mb-5 col-md-4">
          <div class="card">
            <h5 class="card-header">電話預約</h5>
            <div class="card-body">
              <p class="card-text py-2">
                <button class="btn btn-block appointment-button" onclick="return appointmentClick(event);">
                  02-2984-0101
                </button>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 mb-5 col-md-4">
          <div class="card">
            <h5 class="card-header">網路預約</h5>
            <div class="card-body">
              <p class="card-text py-2">
                <button class="btn btn-block appointment-button" onclick="onlineAppointmentClick()">
                  查看網路預約方法
                </button>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 mb-5 col-md-4">
          <div class="card">
            <h5 class="card-header">現場預約/掛號</h5>
            <div class="card-body">
              <p class="card-text py-2">
                <button class="btn btn-block appointment-button" onclick="openClinicMap()">
                  前往本診櫃台掛號
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}