{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename='script2.js') }}?v={{ timestamp }}"
></script>

<section class="about-header" id="contact-header">
  <h1 class="about-h1">聯絡我們</h1>
</section>
<section id="contact-wrapper" class="about-logo">
  <iframe
    id="contact-map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.2433782172075!2d121.49119499999999!3d25.0597389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a96b0ea226d3%3A0x84d7ef801732f9b9!2z5puc5byY6Ki65omA!5e0!3m2!1sen!2stw!4v1602500871242!5m2!1sen!2stw"
    style="border: 0"
    allowfullscreen=""
    aria-hidden="false"
    tabindex="0"
  ></iframe>
  <div id="contact-text">
    <p>
      <b>開診時間：</b>週一至週五（09:00 ~ 12:30 ， 14:00 ~ 16:30 ， 17:30 ~
      20:30) <br />＊初診僅受理現場掛號，請及早來診，歡迎來電洽詢。
      <br />＊當診滿額即會截止掛號，時間浮動，請盡早到診或來電掛號/報到。
      <br /><strong
        >＊自7/1(一)~7/5(五)原李醫師診節全由田醫師代診(李醫師充電去~田醫師陪大家度過本週的每一天~)。
        <br />＊7/5(五)晚診休診(田醫師當好爸爸參加小女兒畢業典禮~)。
        <br />＊自7/8始恢復原診節安排，若需看診，敬請來電02-29840101預約或掛號，謝謝您們。</strong
      >
    </p>
    <p><b>電話：</b>02-2984-0101</p>
    <p id="last-p"><b>地址：</b>新北市三重區重新路三段107號1樓</p>
  </div>
  <div class="contact-info">
    <h2>與我們聯繫</h2>
    <form class="contact-form" method="POST">
      <label for="name">姓名</label>
      <br />
      <input name="name" id="name" type="text" required />
      <br />
      <label for="email">電子郵件</label>
      <br />
      <input name="email" id="email" type="email" required />
      <br />
      <label for="phone">電話號碼</label>
      <br />
      <input name="phone" id="phone" type="tel" required />
      <br />
      <label for="subject">標題</label>
      <br />
      <input name="subject" id="subject" type="text" required />
      <br />
      <label for="body">內容</label>
      <br />
      <textarea name="body" id="body" required></textarea>
      <br />
      <button type="submit" onclick="sending()">傳送</button>
      <h2 id="contact-message">{{ response }}</h2>
    </form>
  </div>
</section>

<script>
  function sending() {
    document.getElementById('contact-message').innerHTML = '傳送中...';
  }

  // 獲取當前日期
  var currentDate = new Date();
  var year = currentDate.getFullYear();
  var month = currentDate.getMonth() + 1;
  // 月份是從0開始計算的
  var day = currentDate.getDate();
  // 判斷日期是否在2024-07-01 ~ 2024-07-05之間
  if (
    year === 2024 &&
    ((month === 6 && day >= 30) || (month === 7 && day <= 5))
  ) {
    // 顯示 <strong> 標籤中的內容
    document.querySelector('#contact-text strong').style.display = 'block';
  } else {
    // 隱藏 <strong> 標籤中的內容
    document.querySelector('#contact-text strong').style.display = 'none';
  }
</script>

{% endblock %}
