{% extends "layout.html" %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='script2.js') }}"></script>

<section class="about-header" id="equipment-header">
    <h1 class="about-h1">專業設備</h1>
</section>
<section class="about-body equipment-body" data-aos="fade-in" data-aos-delay="50" data-aos-duration="700" data-aos-easing="ease-in-out">
    <div class="equipment-title">
        <h2>高階內視鏡人工智慧影像判讀系統</h2>
        <h3><i>本院比醫學中心優先購入百萬以上的富士Fujifilm最新高階內視鏡人工智慧影像判讀系統【CAD EYE】，在最重要的儀器設備上選擇最新最優質的，本著初衷，看重所有來診者，願全力給出最好的醫療品質，站在預防醫學角度，走在高階醫療的趨勢中。</i></h3>
    </div>
</section>
<section class="about-image equipment-image">
    <div class="row">
        <div class="col-12 col-lg-6 d-flex align-items-center ">
            <img src="{{ url_for('static', filename='fujifilm-ai-1.png') }}" alt="Equipment Image 2" data-aos="fade-in" data-aos-delay="50" data-aos-duration="700" data-aos-easing="ease-in-out">
        </div>
        <div class="col-12 col-lg-6">
            <img src="{{ url_for('static', filename='fujifilm-ai-2.png') }}" alt="Equipment Image 2" data-aos="fade-in" data-aos-delay="50" data-aos-duration="700" data-aos-easing="ease-in-out">
        </div>
    </div>
</section>
<section class="about-image">
    <div class="equipment-video">
        <iframe class="video" 
            src="https://www.youtube.com/embed/fmisi8UYcPI?rel=0&autoplay=1&mute=1" 
            title="Fujifilm ai (CAD EYE)" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
        </iframe>
    </div>
</section>
<section  class="about-body equipment-body" data-aos="fade-in" data-aos-delay="50" data-aos-duration="700" data-aos-easing="ease-in-out">
    <div class="equipment-text">
        <h5>內視鏡人工智慧影像判讀系統</h5>
        <p><b>關於【CAD EYE】: </b>簡單來說，它是經過巨量專業醫療知識與醫療圖像深度學習後的內視鏡人工智慧(AI)影像判讀系統，使醫師在做內視鏡檢查時，經CAD EYE同步搜尋異常病灶、分析腸道內病灶屬性
            （增生性、腺瘤性、惡性等），文獻統計CAD EYE搜尋與專業判讀病灶能力相當於資深胃腸科主治醫師，使民眾在受檢時，等同有多位資深胃腸科醫師協助偵測與判讀病灶之醫療品質。</p>
        <p><b>為何要重金購入: </b>價值百萬以上的系統，在田院長經過百般思量後說，「如果這個系統能夠幫助我們找到2~3個早期癌，那就值得了！」</p>
    </div>
</section>
<section class="about-body equipment-body" data-aos="fade-in" data-aos-delay="50" data-aos-duration="700" data-aos-easing="ease-in-out">
    <div class="equipment-title">
        <h2>高階內視鏡</h2>
        <h3><i>本院與台大醫院同步引進富士Fujifilm最新7000型內視鏡檢查系統，此機型為目前臨床最高解析度電子式腸胃鏡，世界專利LCI系統得精準辨識病灶，提供來院病患最高品質的醫療服務。</i></h3>
    </div>
</section>
<section class="about-image equipment-image">
    <div class="row">
        <div class="col-12 col-lg-6">
            <img src="{{ url_for('static', filename='fujifilm-7000-1.png') }}" alt="Equipment Image 2" data-aos="fade-in" data-aos-delay="50" data-aos-duration="700" data-aos-easing="ease-in-out">
        </div>
        <div class="col-12 col-lg-6">
            <img src="{{ url_for('static', filename='fujifilm-7000-2.png') }}" alt="Equipment Image 2" data-aos="fade-in" data-aos-delay="50" data-aos-duration="700" data-aos-easing="ease-in-out">
        </div>
    </div>
</section>
<section class="about-image">
    <div class="equipment-video">
        <iframe class="video" src="https://www.youtube.com/embed/Wi_Zi6_w7B4?rel=0&autoplay=1&mute=1" 
            title="Fujifilm 7000" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
</section>
<section  class="about-body equipment-body" data-aos="fade-in" data-aos-delay="50" data-aos-duration="700" data-aos-easing="ease-in-out">
    <div class="equipment-text">
        <h5>內視鏡系統</h5>
        <p><b>高解析度: </b>4K高等醫療級螢幕搭配PACS影像處理系統。</p>
        <p><b>精準診斷: </b>搭載多重特殊光學處理器，利用BLI及LCI光學原理，與一般白光整合辨識，能檢查出傳統影像學無法檢查到的微小病灶，達到最精確、快速的診斷， 7000系統採用4種可獨立控制的高強度LED燈泡提升其檢查精準性，白光提供清楚、明亮、正確的影像，BLI  利用藍紫色光學短波及強烈對比的技術可診斷消化道表面的微血管組織，LCI  為白光及BLI光學的結合，使用【紅色色差】的表現可初步診斷消化道的組織排列及血管，及早發現早期癌病變。</p>
    </div>
    <div class="equipment-text">
        <h5>胃鏡、腸鏡</h5>
        <p><b>影像強化: </b>具備IEE影像強化功能，配合高階7000型內視鏡主機系統，有效達到高等級精準的診斷。</p>
        <p><b>超廣角: </b>超廣角170°鏡頭，優勝於臨床普遍使用之130-150°廣角鏡頭。</p>
        <p><b>高解析度: </b>CMOS高解析度鏡頭，臨床成像質量大幅提升，影像不失真。</p>
        <p><b>高舒適度: </b>大腸鏡軟硬可調、彈性優良，易旋轉、彎曲的檢查管徑使檢查過程更加舒適、順暢。</p>
    </div>
</section>
<section class="about-image equipment-image" >
    <img src="{{ url_for('static', filename='equipment-image2.jpg') }}" alt="Equipment Image 2" data-aos="fade-in" data-aos-delay="50" data-aos-duration="700" data-aos-easing="ease-in-out">
</section>
<section class="about-body equipment-body">
    <div class="equipment-title">
        <h2>超音波</h2>
        <h3><i>無輻射且不需侵入性即可獲得醫學影像的診斷工具</i></h3>
    </div>
    <p><b>超快速資料傳輸: </b>本院採用醫學中心等級Canon高階彩色杜卜勒超音波掃描儀器，主機爲Digital Transmission 13000 Chenel以上，超快速資料傳輸，畫面精準不定格。</p>
    <p><b>影像細緻真實: </b>影像細緻真實 探頭內含192晶片單元，內建影像優化處理軟體，影像細緻真實，10段Multi Frequency 變頻，完全提供高解析度影像，高感度血流偵測，可以即時精準顯現提供全身（甲狀腺、乳房、心臟、肝、膽、腎、胰、脾、四肢血管，肌肉骨骼）高畫質超音波影像。</p>
    <p><b>動靜態影像: </b>內建硬碟可以大量存取每筆受檢者超音波動靜態影像，並可燒入光碟及USB。</p>
    <p><b>保溫舒適: </b>貼心設計凝膠保溫器讓受檢者可舒適安心的接受超音波檢查。</p>
</section>
<section class="about-image equipment-image">
    <img src="{{ url_for('static', filename='equipment-image1-1.jpg') }}" alt="Equipment Image 1" data-aos="fade-in" data-aos-delay="50" data-aos-duration="700" data-aos-easing="ease-in-out">
</section>


{% endblock %}