{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename='script2.js') }}"
></script>

<section class="about-header" id="equipment-header">
  <h1 class="about-h1">專業設備</h1>
</section>
<section
  class="about-body equipment-body"
  data-aos="fade-in"
  data-aos-delay="50"
  data-aos-duration="700"
  data-aos-easing="ease-in-out"
>
  <div class="equipment-title">
    <h2>高階內視鏡人工智慧影像判讀系統</h2>
    <h3>
      本院比醫學中心優先購入百萬以上的富士 Fujifilm
      最新高階內視鏡人工智慧影像判讀系統【CAD
      EYE】，在最重要的儀器設備上選擇最新最優質的，本著初衷，看重所有來診者，願全力給出最好的醫療品質，站在預防醫學角度，走在高階醫療的趨勢中。
    </h3>
  </div>
</section>
<section class="about-image equipment-image">
  <div class="row">
    <div class="col-12 col-lg-6 d-flex align-items-center">
      <img
        src="{{ url_for('static', filename='fujifilm-ai-1.png') }}"
        alt="Equipment Image 2"
        data-aos="fade-in"
        data-aos-delay="50"
        data-aos-duration="700"
        data-aos-easing="ease-in-out"
      />
    </div>
    <div class="col-12 col-lg-6">
      <img
        src="{{ url_for('static', filename='fujifilm-ai-2.png') }}"
        alt="Equipment Image 2"
        data-aos="fade-in"
        data-aos-delay="50"
        data-aos-duration="700"
        data-aos-easing="ease-in-out"
      />
    </div>
  </div>
</section>
<section class="about-image">
  <div class="equipment-video">
    <iframe
      class="video"
      src="https://www.youtube.com/embed/fmisi8UYcPI?rel=0&autoplay=1&mute=1"
      title="Fujifilm ai (CAD EYE)"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    >
    </iframe>
  </div>
</section>
<section
  class="about-body equipment-body"
  data-aos="fade-in"
  data-aos-delay="50"
  data-aos-duration="700"
  data-aos-easing="ease-in-out"
>
  <div class="equipment-text">
    <h5>內視鏡人工智慧影像判讀系統</h5>
    <p>
      <b>關於【CAD EYE】: </b
      >簡單來說，它是經過巨量專業醫療知識與醫療圖像深度學習後的內視鏡人工智慧（AI）影像判讀系統，使醫師在做內視鏡檢查時，經
      CAD EYE 同步搜尋異常病灶、分析腸道內病灶屬性
      （增生性、腺瘤性、惡性等），文獻統計 CAD EYE
      搜尋與專業判讀病灶能力相當於資深胃腸科主治醫師，使民眾在受檢時，等同有多位資深胃腸科醫師協助偵測與判讀病灶之醫療品質。
    </p>
    <p>
      <b>為何要重金購入: </b
      >價值百萬以上的系統，在田院長經過百般思量後說，「如果這個系統能夠幫助我們找到2~3個早期癌，那就值得了！」
    </p>
  </div>
</section>
<section
  class="about-body equipment-body"
  data-aos="fade-in"
  data-aos-delay="50"
  data-aos-duration="700"
  data-aos-easing="ease-in-out"
>
  <div class="equipment-title">
    <h2>高階內視鏡</h2>
    <h3>
      本院與台大醫院同步引進富士 Fujifilm 最新 7000
      型內視鏡檢查系統，此機型為目前臨床最高解析度電子式腸胃鏡，世界專利 LCI
      系統得精準辨識病灶，提供來院病患最高品質的醫療服務。
    </h3>
  </div>
</section>
<section class="about-image equipment-image">
  <div class="row">
    <div class="col-12 col-lg-6">
      <img
        src="{{ url_for('static', filename='fujifilm-7000-1.png') }}"
        alt="Equipment Image 2"
        data-aos="fade-in"
        data-aos-delay="50"
        data-aos-duration="700"
        data-aos-easing="ease-in-out"
      />
    </div>
    <div class="col-12 col-lg-6">
      <img
        src="{{ url_for('static', filename='fujifilm-7000-2.png') }}"
        alt="Equipment Image 2"
        data-aos="fade-in"
        data-aos-delay="50"
        data-aos-duration="700"
        data-aos-easing="ease-in-out"
      />
    </div>
  </div>
</section>
<section class="about-image">
  <div class="equipment-video">
    <iframe
      class="video"
      src="https://www.youtube.com/embed/Wi_Zi6_w7B4?rel=0&autoplay=1&mute=1"
      title="Fujifilm 7000"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    >
    </iframe>
  </div>
</section>
<section
  class="about-body equipment-body"
  data-aos="fade-in"
  data-aos-delay="50"
  data-aos-duration="700"
  data-aos-easing="ease-in-out"
>
  <div class="equipment-text">
    <h5>內視鏡系統</h5>
    <p><b>高解析度: </b>4K高等醫療級螢幕搭配 PACS 影像處理系統。</p>
    <p>
      <b>精準診斷: </b>搭載多重特殊光學處理器，利用 BLI 及 LCI
      光學原理，與一般白光整合辨識，能檢查出傳統影像學無法檢查到的微小病灶，達到最精確、快速的診斷，
      7000 系統採用 4 種可獨立控制的高強度 LED
      燈泡提升其檢查精準性，白光提供清楚、明亮、正確的影像， BLI
      利用藍紫色光學短波及強烈對比的技術可診斷消化道表面的微血管組織， LCI
      為白光及 BLI
      光學的結合，使用【紅色色差】的表現可初步診斷消化道的組織排列及血管，及早發現早期癌病變。
    </p>
  </div>
  <div class="equipment-text">
    <h5>胃鏡、腸鏡</h5>
    <p>
      <b>影像強化: </b>具備 IEE
      影像強化功能，配合高階7000型內視鏡主機系統，有效達到高等級精準的診斷。
    </p>
    <p>
      <b>超廣角: </b>超廣角 170° 鏡頭，優勝於臨床普遍使用之 130 - 150°
      廣角鏡頭。
    </p>
    <p>
      <b>高解析度: </b> CMOS 高解析度鏡頭，臨床成像質量大幅提升，影像不失真。
    </p>
    <p>
      <b>高舒適度: </b
      >大腸鏡軟硬可調、彈性優良，易旋轉、彎曲的檢查管徑使檢查過程更加舒適、順暢。
    </p>
  </div>
</section>
<section class="about-image equipment-image">
  <img
    src="{{ url_for('static', filename='equipment-image2.jpg') }}"
    alt="Equipment Image 2"
    data-aos="fade-in"
    data-aos-delay="50"
    data-aos-duration="700"
    data-aos-easing="ease-in-out"
  />
</section>
<section class="about-body equipment-body">
  <div class="equipment-title">
    <h2>超音波</h2>
    <h3>無輻射且不需侵入性即可獲得醫學影像的診斷工具</h3>
    <br />
    <h3>
      因應來診疾病複雜度之高，腹內器官肝、膽、胰、脾、腎與甲狀腺檢查是曜弘強項之一，<br />田院長決定大升級，將頂級超音波旗艦機，富士
      ARIETTA 850 作為曜弘 2025 年度鉅獻！
    </h3>
    <br />
    <h3>田院長說：「多找到幾個早期腫瘤就值得了！」</h3>
  </div>
</section>
<section class="about-image">
  <div class="equipment-video">
    <iframe
      class="video"
      src="https://www.youtube.com/embed/CLOC3sbNNvU?autoplay=1&mute=1&loop=1&playlist=CLOC3sbNNvU"
      title="ARTIETTA 850"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    >
    </iframe>
  </div>
</section>
<section
  class="about-body equipment-body"
  data-aos="fade-in"
  data-aos-delay="50"
  data-aos-duration="700"
  data-aos-easing="ease-in-out"
>
  <div class="equipment-text">
    <h5>ARIETTA 850 到底多頂尖？</h5>
    <p>
      田院長說：「頂尖就是最高階的，甚至不是每家醫學中心都有這台旗艦機，曜弘則是目前雙北診所端唯一。<br />大家不知道，其實我們醫生看完診常常會替病人捏一把冷汗，因為病情很不單純，這台頂尖設備可以幫我們揪出早期病灶。」
    </p>
  </div>
  <div class="row d-flex">
    <div class="col-12 col-lg-12 order-lg-1 order-1">
      <p>
        <b>重點功能介紹: </b>
      </p>
      <p>
        <b>全聚焦功能與後端訊號即刻優化: </b
        >即時組合眾接收波，顯示成單一影像，達到高靈敏、高對比和高空間分辨率的影像，病灶邊界更清楚、更立體，更易於診斷！
      </p>
      <p>
        <b>22 吋 OLED 頂級顯示器: </b
        >為頂級顯示器之最新技術，無需背光即可顯示純黑色，超越過往對比與解析度，呈現最佳影像、最高品質的灰階顯示。
      </p>
      <p>
        <b>純粹影像與精湛血流動態探測: </b
        >最新成像技術，透過獨特的演算法，以更高的解析度和靈敏度，顯示細小的血流，提高腫瘤血管及發炎組織偵測效能。
      </p>
      <p>
        <b>SWE/SWM and iATT: </b
        >使用最新技術，以剪切波測量肝組織，同時提供彈性成像,呈現脂肪肝與肝纖維化之精確數據分析。
        此為高效率且非侵入性檢查，精準評估肝纖維化、肝硬化或肝癌風險，並作為 B/C
        肝炎治療依據。
      </p>
    </div>
    <div
      class="col-12 col-lg-6 order-lg-3 order-4 equipment-image-height d-flex justify-content-center align-items-center"
    >
      <img
        src="{{ url_for('static', filename='equipment-bile-duct-dilation.png') }}"
        alt="Equipment Xario 100 overview"
        data-aos="fade-in"
        data-aos-delay="50"
        data-aos-duration="700"
        data-aos-easing="ease-in-out"
      />
    </div>
    <div
      class="col-12 offset-lg-1 col-lg-5 order-lg-4 order-6 equipment-image-height d-flex justify-content-center align-items-center"
    >
      <img
        src="{{ url_for('static', filename='equipment-pancreatic-tumor.png') }}"
        alt="Equipment Xario 100 overview"
        data-aos="fade-in"
        data-aos-delay="50"
        data-aos-duration="700"
        data-aos-easing="ease-in-out"
      />
    </div>
    <div class="col-12 col-lg-12 order-lg-5 order-3">
      <p>
        上圖皆是在不同等級超音波下之病灶呈現，ARIETTA 850
        在全聚焦功能下，病灶邊界更清楚、更立體，更易於診斷！
      </p>
    </div>
    <!-- <div class="col-12 offset-lg-1 col-lg-5 order-lg-6 order-5">
      <p>
        針對腹部超音波，憑藉全方位的影像增強功能和40公分深度設計，提供各種身形的最佳影像品質。
      </p>
    </div> -->
  </div>
</section>
<section class="about-image equipment-image">
  <img
    src="{{ url_for('static', filename='equipment-image1-1.jpg') }}"
    alt="Equipment Image 1"
    data-aos="fade-in"
    data-aos-delay="50"
    data-aos-duration="700"
    data-aos-easing="ease-in-out"
  />
</section>

{% endblock %}
