{% extends "layout.html" %} {% block content %}

<!--
<body onresize="calendarSize()">

<script type="text/javascript" src="{{ url_for('static', filename='calendar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script2.js') }}?v={{ timestamp }}"></script>

<div id='calendar'></div>

</body>

-->
<script
  type="text/javascript"
  src="{{ url_for('static', filename='script2.js') }}?v={{ timestamp }}"
></script>

<div id="event-wrapper">
  <iframe
    src="https://3531026546.plusonemed.com/progress"
    title="Clinic Time"
    id="event-iframe"
  ></iframe>
</div>

{% endblock %}
