{% extends "layout.html" %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='script1.js') }}"></script>

<section class="header-wrapper">
    <div class="header-block">
        <div>
            <h1 class="header-h1">曜弘診所</h1>
            <h2 class="header-h2">以有溫度的生活關懷，將多年醫學中心培訓之醫療品質帶入病人的家庭，開啟一扇健康與生活品質改善的門。</h2>
            <a href="tel:+886 22984-0101"><button id="header-button">預約門診</button></a>
        </div>
    </div>
    <div class="header"></div>
</section>
<section class="doctor-wrapper">
    <div class="doctor-grid">
        <div class="doctor-image">
            <img src="{{ url_for('static', filename='doctor-image.jpg') }}" alt="Doctor Image" class="doctor-image">
        </div>
        <div class="doctor-info">
            <div>
                <h2>田名弘 院長</h2>
                <p>台北馬偕紀念醫院胃腸肝膽科主治醫師</p>
                <p>台北馬偕紀念醫院健康檢查中心主治醫師</p>
                <p>台灣消化系內科專科醫師</p>
                <p>台灣消化系內視鏡醫學會專科醫師</p>
                <p>振興醫療財團法人振興醫院醫師</p>
                <p>衛生福利部台東醫院醫師</p>
                <p>台灣消化系醫學會會員</p>
                <p>中華民國醫用超音波學會會員</p>
                <p>台灣肥胖醫學會會員</p>
                <br>
                <p id="doctor-description">從小在三和市場長大，於醫學中心醫學院訓練學成，父母教育核心為將醫療專業回饋社會，期許從醫學中心將最新的專業知識技能帶進社區診所，以三重人實在誠懇的心替在地人服務。</p>
            </div>
        </div>
    </div>
</section>
<section class="medical-wrapper">
    <div class="medical-description">
        <h2>診治專長</h2>
        <ul class="medical-grid">
            <li>腸胃疾病
            <li>肝膽疾病</li>
            <li>內視鏡治療</li>
            <li>成人健康檢查</li>
            <li>肥胖減重</li>
            <li>感冒</li>
            <li>高血壓</li>
            <li>糖尿病</li>
            <li>高血脂</li>
            <li>甲狀腺疾病</li>
            <li>痛風</li>
            <li>泌尿道感染</li>
            <li>脂肪肝</li>
            <li>一般內科疾病</li>
            <li>蜂窩性組織炎</li>
            <li>傷口換藥</li>
            <li>成人流感疫苗注射</li>
            <li>慢性病處方簽</li>
        </ul>
    </div>
</section>
<section class="bio-wrapper">
    <div class="bio-grid">
        <div class="bio-info">
            <div>
                <div class="bio-info-show"><i class="fas fa-calendar-alt"></i><p>週一至週五</p></div>
                <div class="bio-info-hide"><p><b>營業時間：</b></p><p>週一至週五（09:00 ~ 12:30 ， 17:00 ~ 20:30)</p></div>
                <div class="bio-info-show"><i class="fas fa-clock"></i><p class="bio-info-time">09:00 ~ 12:30 ， 17:00 ~ 20:30</p></div>
                <div class="bio-info-show"><i class="fas fa-phone-alt"></i><p>02-2984-0101</p></div>
                <div class="bio-info-hide"><p><b>電話：</b></p><p>02-2984-0101</p></div>
                <div id="bio-info-last" class="bio-info-show"><i class="fas fa-map-marked-alt"></i><p>新北市三重區重新路三段107號1樓</p></div>
                <div class="bio-info-hide"><p><b>地址：</b></p><p>新北市三重區重新路三段107號1樓</p></div>
            </div>
        </div>
        <img src="{{ url_for('static', filename='store.jpeg') }}" alt="Store Background">
    </div>
</section>

{% endblock %}